.about-section-container {
    // background-image         : url('../../../assets/image/about-background/about-background.jpg');
    // // background-repeat  : no-repeat;
    // // background-size       : cover;
    background-color: #262626;
    padding-bottom  : 80px;

    .header-title {
        text-align: center;
        font-size : 40px !important;
        color     : white !important;
    }
}