.topnav {
    overflow        : hidden;
    background-color: #333;
    display         : flex;
    align-items     : center;
    height          : 60px;

    a {
        float          : left;
        color          : #f2f2f2;
        text-align     : center;
        height         : inherit;
        line-height    : 60px;
        text-decoration: none;
        font-size      : 25px;
        font-weight    : 600;
        min-width      : 120px;
    }

    a:hover {
        background-color: #ddd;
        color           : black;
    }

    a.active {
        background-color: #04AA6D;
        color           : white;
    }

    .user-info {
        height         : inherit;
        display        : flex;
        justify-content: flex-end;
        color          : #ffc107;
        align-items    : center;
        font-size      : 17px;
        text-align     : center;
        width          : 100%;
        margin-right   : 20px;

        .welcome-text {
            color: #fff;
        }

        .user-role {
            text-transform: uppercase;
        }

        .user-name {
            margin-left   : 5px;
            text-transform: uppercase;
        }
    }

    .btn-customized {
        background: #04AA6D !important;
        height    : inherit;
        border    : none;
        padding   : 0 25px;

        i {
            font-size: 20px;
        }
    }
}